.gigaide
.idea
.vscode/
*.iml

# Docker
.dev_ownership_checked

# Node
node_modules/
dist/
build/
.next/
pnpm-lock.yaml
yarn.lock

# Python
__pycache__/
*.pyc
.venv/
.poetry/

# Flutter/Dart
.dart_tool/
.buildlog/
.packages
pubspec.lock
build/
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/

# Misc
.env
.DS_Store